<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Item</title>
</head>
<style>
    form  { display: table;      margin: 0 auto;}
	form p     { display: table-row;  }
	label { display: table-cell; }
	input { display: table-cell; }
</style>
<body>
    <div align="center">
      <a href="/create">Add</a> |
      <a href="/view">View</a>
    </div>

    <h2 align="center">Update Item</h2>

    <form action='' method = "POST">
        <p>
            <label for="sku">SKU:</label>
            <input id="sku" type = "text" name = "sku" value="{{item.sku}}" required/>
        </p>
        <p>
            <label for="name">Name:</label>
            <input id="name" type = "text" name = "name" value="{{item.name}}" required/>
        </p>
        <p>
            <label for="desc">Description:</label>
            <input id="desc" type = "text" name = "description" value="{{item.description}}" required/>
        </p>
        <p>
            <label for="price">Price:</label>
            <input id="price" type = "integer" name = "price" value="{{item.price}}" required/>
        </p>
        <p>
            <label for="qty">Quantity:</label>
            <input id="qty" type = "integer" name = "qty" value="{{item.qty}}" required/>
        </p>
        <p>
            <input type = "submit" value = "Update" />
        </p>
    </form>

    <p align="center">
        {% if exc == 'integrity' %}
            Item with such SKU already exists
        {% endif %}
        {% if exc == 'price' %}
            Data input error. Price must have a numeric value
        {% endif %}
        {% if exc == 'qty' %}
            Data input error. Quantity must be an integer
        {% endif %}
    </p>
</body>
</html>